* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  height: 100%;
}

.header {
  padding: 15px 0;
  background-color: #ffffff;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 0px solid blue;
  text-align: left;
}

.logo-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0px solid blue;
  width: 80%;
}

.logo-content-img {
  border: solid 0px #42515f;
}

.address-text {
  font: normal normal bold 22px/25px Montserrat;
  letter-spacing: 0px;
  color: #008cff;
  text-transform: uppercase;
}

.book {
  color: #42515f;
}

.form-content {
  padding-top: 60px;
  min-height: calc(100% - 80px);
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 65%;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #f5f5f5;
  border-radius: 8px;
  opacity: 1;
}

.form-head-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: #008cff 0% 0% no-repeat padding-box;
  height: 78px;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 40px;
  border-radius: 8px 8px 0px 0px;
}

.form-head {
  font: normal normal normal 24px/37px Roboto;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  background: #008cff 0% 0% no-repeat padding-box;
  opacity: 1;
  padding-top: 10px;
  padding-left: 300px;
}

.form-logo-content {
  padding-left: 200px;
  cursor: pointer;
  padding-top: 10px;
}

.row-content {
  display: flex;
  padding-right: 150px;
  padding-left: 150px;
  flex-direction: column;
  margin-bottom: 40px;
  /* align-items: center; */
  border: 0px solid green;
}

.row-content-exp {
  display: flex;
  padding-right: 150px;
  padding-left: 150px;
  flex-direction: row;
  margin-bottom: 40px;
  align-items: center;
  border: 0px solid green;
}

.oneRow-content {
  display: flex;
  padding-right: 20px;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  padding-left: 0px;
  flex-direction: column;
  margin-bottom: 20px;
  border: 0px solid green;
}

.text {
  font-size: 16px;
  color: #42515f;
  opacity: 1;
  font-family: Roboto;
}

.label {
  text-align: left;
  font: normal normal normal 16px/24px Roboto;
  letter-spacing: 0px;
  color: #42515f;
  opacity: 1;
}

.input {
  width: 100%;
  padding: 12px;
  margin-right: 15px;
  border-radius: 4px;
  resize: vertical;
  border: 1px solid #bdbdbd;
  opacity: 1;
}

.select-input {
  width: 100%;
  padding: 12px;
  margin-right: 15px;
  border-radius: 4px;
  resize: vertical;
  border: 1px solid #bdbdbd;
  opacity: 1;
}

error-output {
  margin-left: 10px;
  font-size: 12px;
  font-style: italic;
  color: red;
}

.submit-reset {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  margin-bottom: 40px;
}

.button {
  font-size: 20px;
  font-family: Roboto;
  letter-spacing: 0px;
  color: #42515f;
  opacity: 1;
  background: transparent;
  border: none;
  font-weight: 400;
  min-width: 140px;
  padding: 7px 7px;
  border: 1px solid #707070;
  cursor: pointer;
}

.submitButton {
  border-radius: 5px;
  background: rgb(238, 238, 238);
  margin-right: 20px;
  box-shadow: inset 0 0 0 0 rgb(142, 255, 142);
  transition: ease-out 0.3s;
  outline: none;
}

.submitButton:hover {
  box-shadow: inset 140px 0 0 0 rgb(142, 255, 142);
  cursor: pointer;
  color: black;
}

.resetButton {
  border-radius: 5px;
  background: rgb(238, 238, 238);
  margin-right: 0px;
  box-shadow: inset 0 0 0 0 rgb(255, 142, 142);
  transition: ease-out 0.3s;
  outline: none;
}

.resetButton:hover {
  box-shadow: inset 140px 0 0 0 rgb(255, 142, 142);
  cursor: pointer;
  color: black;
}
